.full-panel
  .container
    .jumbotron.form
      %h2
        Update Profile
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control'
        .form-group
          = f.label :phone_number
          = f.telephone_field :phone_number, class: 'form-control'
        - if !current_user.phone_number.blank? && !current_user.phone_verified
          .alert.alert-danger
            Your phone number has not been verified, so no trail alerts can be sent. #{link_to('Verify it now', verify_phone_path)}.
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
          = f.label :current_password
          %i (needed to confirm your changes)
          = f.password_field :current_password, autocomplete: 'off', class: 'form-control'
        = f.submit 'Update', class: 'btn btn-success'
      %hr
      %h2
        Change Password
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :password, 'New password'
          = f.password_field :password, autocomplete: 'off', class: 'form-control'
        .form-group
          = f.label :password_confirmation, 'New password confirmation'
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
        .form-group
          = f.label :current_password
          = f.password_field :current_password, autocomplete: 'off', class: 'form-control'
        = f.submit 'Change My Password', class: 'btn btn-success'
      %hr

      %h3 Cancel my account
      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'}
