:javascript
  window.mtb.plans = {};
.container-fluid
  .plans.row
    .plan.col-xs-10.col-xs-offset-1.col-md-offset-0.col-md-4
      .plan-inner.free
        %h3 Free
        %p Limited to email alerts
        %p Cost: zip, zilch, nada!
        .price
          %h2 $0
          %p.per-term &nbsp;
        .action
          - if !@current_subscription || @current_subscription.canceled?
            = link_to 'Current Plan', 'javascript:void(0);', class: 'btn btn-default disabled'
          - else
            = link_to 'Choose Free', subscription_path, method: :delete, 'data-confirm' => 'Are you sure you want to cancel your subscription?', class: 'btn btn-default'
    - @plans.each do |plan|
      .plan.col-xs-10.col-xs-offset-1.col-md-offset-0.col-md-4
        .plan-inner{class: plan.stripe_id}
          %h3= plan.name
          - if plan.name == 'Monthly'
            %p Auto-renews every month
            %p Cancel any time
          - else
            %p Annual subscription
            %p Auto-renews after one year
          .price
            %h2
              $#{plan.price_in_cents / 100}
              :javascript
                window.mtb.plans["#{plan.stripe_id}"] = {name: "#{plan.name}", price_in_cents: parseInt("#{plan.price_in_cents}")};
            %p.per-term per #{plan.name == 'Monthly' ? 'month' : 'year'}
          .action
            - if @current_subscription && @current_subscription.plan == plan && !@current_subscription.canceled?
              = link_to 'Current Plan', 'javascript:void(0);', class: 'btn btn-default disabled'
            - else
              = link_to "Choose #{plan.name}", "##{plan.name}", class: 'btn btn-primary select-plan', 'data-plan' => plan.stripe_id

.container-fluid
  .row
    .summary.col-xs-10.col-xs-offset-1.col-md-offset-0.col-md-12
      %p.summary-text
      - if @current_subscription && @current_subscription.card_info
        = form_tag(subscription_path, method: :put, class: 'form-horizontal subscription-form update-subscription-form') do
          .alert.alert-danger.card-errors
          = hidden_field_tag('plan')
          %p
            We'll charge the card you have on file, a
            %strong #{@current_subscription.card_info['brand']}
            ending in
            %span
              %strong> #{@current_subscription.card_info['last_4']}
              \.
          .form-group
            %p.text-centered
              - submit_text = @current_subscription.canceled? ? 'Purchase' : 'Change Subscription'
              = submit_tag(submit_text, class: 'btn btn-success submit')
      - else
        = form_tag(subscription_path, class: 'form-horizontal subscription-form new-subscription-form') do
          .alert.alert-danger.card-errors
          = hidden_field_tag('plan')
          .form-group
            = label_tag('', 'Card #', class: 'col-sm-3 control-label')
            .col-sm-9
              %input{type: 'text', class: 'form-control card-number', 'data-stripe' => 'number', required: 'yup'}
          .form-group
            = label_tag('', 'Expiration', class: 'col-sm-3 control-label')
            .col-sm-9
              = select_month(Date.today,
                             {field_name: 'exp_month'},
                             {class: 'form-control card-month', 'data-stripe' => 'exp-month'})
              = select_year(Date.today,
                            {field_name: 'exp_year', start_year: Date.today.year, end_year: (Date.today + 10.years).year},
                            {class: 'form-control card-year', 'data-stripe' => 'exp-year'})
          .form-group
            = label_tag('', 'CVC', class: 'col-sm-3 control-label', required: 'yup')
            .col-sm-9
              %input{type: 'text', class: 'form-control card-cvc', 'data-stripe' => 'cvc', size: '4'}
          .form-group
            .col-sm-offset-3.col-sm-9
              = submit_tag('Purchase', class: 'btn btn-success submit')
