.container
  .header.clearfix
    %nav.navbar
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar-collapse', 'aria-expanded' => 'false'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to('MTB Trail Status', :root, class: 'navbar-brand')
        .collapse.navbar-collapse{id: 'navbar-collapse'}
          %ul.nav.navbar-nav.nav-pills.navbar-right
            %li{class: (@nav == 'trails' ? 'active' : '')}
              = link_to 'Trails', trails_path
            %li{role: 'presentation', class: (@nav == 'about' ? 'active' : '')}
              = link_to 'About', about_path
            - if current_user
              %li{class: (@nav == 'alerts' ? 'active' : '')}
                = link_to 'My Alerts', alerts_path
              %li.dropdown
                = link_to('#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false') do
                  = current_user.email
                  %span.caret
                %ul.dropdown-menu
                  %li{role: 'presentation'}
                    = link_to 'Settings', edit_settings_path
                  - unless current_user.is_comped?
                    - if current_user.subscription
                      %li{role: 'presentation'}
                        - link_text = current_user.subscription.canceled? ? 'Add Subscription' : 'Edit Subscription'
                        = link_to link_text, edit_subscription_path
                      %li{role: 'presentation'}
                        = link_to 'Billing', billing_path
                    - else
                      %li{role: 'presentation'}
                        = link_to 'Add Subscription', new_subscription_path
                  %li{role: 'presentation'}
                    = link_to 'Sign Out', destroy_user_session_path, method: :delete
            - else
              %li{role: 'presentation'}
                = link_to 'Sign In', new_user_session_path
              %li{role: 'presentation'}
                = link_to 'Sign Up', new_user_registration_path
