%h2
  Current Trail Statuses
  .pull-right.hidden-xs
    = render 'common/trail_status_tabs'

.visible-xs{style: 'text-align: center; margin-bottom: 10px;'}
  = render 'common/trail_status_tabs'

.tab-content
  .tab-pane.active{id: 'tab-list'}
    %table.table.table-striped.statuses
      %tbody
        - @trails.each do |trail|
          - glyphicon = trail.status == 'open' ? 'glyphicon-ok' : 'glyphicon-remove'
          %tr.trail
            %td.name
              %h3
                = link_to trail do
                  %i.glyphicon{class: "#{glyphicon} #{trail.status}"}
                  = trail.display_name
            %td.date
              %span.status{class: "#{trail.status}"}= trail.status
              %span.text-muted{title: "#{trail.status_updated_at}"}
                = time_ago_in_words trail.status_updated_at
                ago
  .tab-pane{id: 'tab-map'}
    #map.map
