!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    = display_meta_tags

    - if @map
      %link{rel: 'stylesheet', type: 'text/css', href: '//api.tiles.mapbox.com/mapbox.js/v2.4.0/mapbox.css'}
      %link{rel: 'stylesheet', type: 'text/css', href: '//api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'}

    %link{rel: 'stylesheet', type: 'text/css', href: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '//fonts.googleapis.com/css?family=Titillium+Web:400,700'}
    %link{rel: 'stylesheet', type: 'text/css', href: '//cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css'}

    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body{class: "#{body_class}"}
    = render 'common/google_analytics'
    :javascript
      window.mtb = {};
    .top
      = render 'common/navigation'
      = render 'common/flash_messages'
    = yield
    .container
      %footer.footer
        %p MTB Trail Status, built by #{link_to 'Jason Sanford', 'mailto:jasonsanford@gmail.com'}. Trail statuses from #{link_to 'various sources', about_path}.
    - if @map
      %script{src: '//api.tiles.mapbox.com/mapbox.js/v2.4.0/mapbox.js'}
      %script{src: '//api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'}
    = javascript_include_tag 'application'
    %script{src: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'}
    - if @stripejs
      = render 'common/stripe'
